doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sales Agent Dashboard
    link(rel='stylesheet' href='/css/admin.css')
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
  body
    .sidebar
      h2 Sales Agent Dashboard
      ul
        li
          a(href='/credit') Credit Sales
        li
          a(href='/sales') Sales List
        li
          a(href='javascript:void(0);' onclick='logout()') Logout
    .main-content
      .top-navbar
        ul
          li
            a(href='/') Home
          li
            a(href='/addSale') Add Sale
          li
            a(href='/addProduce') Add Produce
          li
            a(href='/registerCredit') Register Credit
      main.content
        block content
    script(src='/js/admin.js')

  //- Logout Function
  script.
    function logout() {
      fetch('/logout', {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(response => {
        if (response.ok) {
          window.location.href = '/signUser'; // Redirect to login page after logout
        } else {
          console.log('Logout failed');
        }
      }).catch(error => {
        console.error('Error during logout:', error);
      });
    }