doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Happy Hoe Grocery Store
  link(rel='stylesheet' href='/styles/pto.css')
  link(rel='stylesheet' href='styles.css')
  script(src='script.js' defer='')
.card
  video#video-background(autoplay='' loop='' muted='')
    source(src='https://videos.pexels.com/video-files/8107718/8107718-uhd_2732_1440_25fps.mp4' type='video/mp4')
  h1#welcome  Welcome To Happy Hoe Grocery
  p#slogan &quot;Harvesting Quality, Nourishing Lives&quot;
  button#getStarted
    a(href='./pages/viewStock.html')  Get Started
