doctype html
html
  head
    title Report Dashboard
    link(rel='stylesheet' href='/css/reports.css') 
    script(src="https://cdn.jsdelivr.net/npm/chart.js") // Chart.js library

  body
    h1 Report Dashboard

    // Cards Section
    .card-container
      .card
        h2 Total Produce
        p#totalProduce 0 kg
      .card
        h2 Total Sales
        p#totalSales 0 kg
      .card
        h2 Available Stock
        p#availableStock 0 kg
      .card
        h2 Total Revenue
        p#totalRevenue 0 UGX

    // Charts Section
    .chart-container
      h2 Sales vs Stock Chart
      canvas#salesStockChart(width="400" height="200")

    script(src='/js/reports.js') 
